@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>People Search</title>
    <style>
        input[type='submit'], button, [aria-label] {
            cursor: pointer;
        }

        #spoiler {
            display: none;
        }

        table {
            font-family: Arial, sans-serif;
            border: 1px solid;
            border-collapse: collapse;
        }

        th {
            background-color: #0066CC;
            color: white;
            text-align: center;
            
        }

        td {
            border: 1px solid;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>People Search</h1>
    <h3>Search</h3>
    <form action="javascript:void(0);" method="GET" onsubmit="search($(searchName).val)">
        <input type="text" id="searchName" placeholder="name">
        <input type="submit" value="Search">
    </form>

    <div id="spoiler">
        <h3>Edit</h3>
        <form class="my-form">
            <input type="hidden" id="edit-id">
            <input type="text" id="edit-first-name">
            <input type="text" id="edit-last-name">
            <input type="text" id="edit-age">
            <input type="text" id="edit-address">
            <input type="text" id="edit-interests">
            <input type="text" id="edit-image-location">
            <input type="submit" value="Edit">
            <a onclick="closeInput()" aria-label="Close">&#10006;</a>
        </form>
    </div>

    <div id="addBlock">
        <h3>Add Person</h3>
        <form>
            <input type="text" id="add-first-name" placeholder="First Name">
            <input type="text" id="add-last-name" placeholder="Last Name">
            <input type="text" id="add-age" placeholder="Age">
            <input type="text" id="add-address" placeholder="Address">
            <input type="text" id="add-interests" placeholder="Interests">
            <input type="text" id="add-image-location" placeholder="Image Location">
            <input type="submit" value="Add" onclick="addItem()">
           
        </form>
    </div>

    <p id="counter"></p>

    <table id="results" cellspacing="5">
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Interests</th>
        </tr>
        <tbody id="people"></tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
</body>
</html>